fastapi[Standard]
fastapi-utils
uvicorn
motor
pydantic
python-dotenv
openai
google-genai
bcrypt
python-jose[cryptography]
python-multipart
boto3
llama-index 
llama-index-llms-openrouter
rembg[cpu]
pillow